

<ng-container *ngIf="users.length != 0">
  <div class="card text-center">

    <div class="card-header">
      <div class="row">
        <div class="col-10">
          <h2 style="padding-left:16.666%">Leoba TCC Emotiv Arm - Interface
            WEB</h2>
        </div>
        <div class="col-2">
          <a class="nav-link active" href="#" style="text-align: end;"
            (click)="EmotivLogoutAll()"><b>Logout</b></a>
        </div>
      </div>
    </div>

    <div *ngIf="headsetConnected == true" class="card-body">
      <div class="list-group" *ngFor="let user of users">
        <button
          type="button"
          *ngFor="let user of users"
          class="list-group-item list-group-item-action active"
          [class]="user.username == selectedUser.username ? 'active' : ''"
          (click)="SelectUser(user)">
          {{ user.username }}
        </button>
      </div>

      <form *ngIf='!run_mlp && !train_mlp'>
        <div class="form-group row mx-sm-3 mb-2">
          <label for="traintime">Tempo de treinamento</label>
          <div class="input-group mb-1">
            <input
              type="number"
              class="form-control sb-3"
              placeholder="Tempo em segundos"
              id="traintime"
              [(ngModel)]="time"
              name="time"
              />
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">segundos</span>
            </div>
          </div>
        </div>

        <!-- <button type="submit" class="btn btn-primary"
              (click)="EmotivTraining(false, 'neutral')">Neutral</button>
            <button type="submit" class="btn btn-primary"
              (click)="EmotivTraining(false, 'pinky')">Pinky</button>
            <button type="submit" class="btn btn-primary"
              (click)="EmotivTraining(false, 'ring')">Ring</button>
            <button type="submit" class="btn btn-primary"
              (click)="EmotivTraining(false, 'middle')">Middle</button>
            <button type="submit" class="btn btn-primary"
              (click)="EmotivTraining(false, 'index')">Index</button>
            <button type="submit" class="btn btn-primary"
              (click)="EmotivTraining(false, 'thumb')">Thumb</button>
            <button type="submit" class="btn btn-primary"
              (click)="EmotivTraining(false, 'forearm')">Forearm</button> -->
        <button *ngIf="running_gesture != ''" type="submit" class="btn
          btn-danger"
          (click)="EmotivTraining(true, 'grab')" disabled>{{ "Treinamento do
          gesto '" +
          running_gesture + "' em andamento..." }}</button>

        <div *ngIf="running_gesture == ''">
          <label>Clique em um gesto para iniciar o treinamento</label>
          <br/>
            <div class="btn-group mb-2">
              <button type="submit" class="btn btn-primary"
                (click)="EmotivTraining(true, 'neutral')" data-toggle="modal"
                data-target="#training_start" [disabled]="time === null">Neutro
                - {{
                training["neutral"] }}</button>
              <button type="submit" class="btn btn-primary"
                (click)="EmotivTraining(true, 'grab')" data-toggle="modal"
                data-target="#training_start" [disabled]="time === null">Agarrar
                -
                {{
                training["grab"] }}</button>
              <button type="submit" class="btn btn-primary"
                (click)="EmotivTraining(true, 'rock')" data-toggle="modal"
                data-target="#training_start" [disabled]="time === null">Rock -
                {{
                training["rock"] }}</button>
              <button type="submit" class="btn btn-primary"
                (click)="EmotivTraining(true, 'cool')" data-toggle="modal"
                data-target="#training_start" [disabled]="time === null">Hang
                loose -
                {{
                training["cool"] }}</button>
              <button type="submit" class="btn btn-primary"
                (click)="EmotivTraining(true, 'thumb')" data-toggle="modal"
                data-target="#training_start" [disabled]="time === null">Legal -
                {{
                training["thumb"] }}</button>
              <button type="submit" class="btn btn-primary"
                (click)="EmotivTraining(true, 'forearm')" data-toggle="modal"
                data-target="#training_start" [disabled]="time === null">Acenar
                - {{
                training["forearm"] }}</button>
            </div>
          </div>
        </form>
        <br /><br />
        <div *ngIf="running_gesture == '' && !run_mlp">
          <button *ngIf='!train_mlp' type="submit" class="btn btn-success"
            (click)="TrainMlp()">Iniciar treinamento do MLP</button>
          <button *ngIf='train_mlp' type="submit" class="btn btn-info" disabled>
            Aguarde a finalização do treinamento...
          </button>
        </div>
        <br /><br />

        <div *ngIf="running_gesture == '' && !train_mlp && is_trained">
          <button *ngIf='!run_mlp' type="submit" class="btn btn-success"
            (click)="RunMlp()">Iniciar execução do MLP</button>
          <button *ngIf='run_mlp' type="submit" class="btn btn-danger"
            (click)="StopMlp()">Terminar execução do MLP</button>
        </div>
      </div>
      <div *ngIf="headsetConnected == false" class="card-body">
        <div class="middle-button">
          <button class="btn btn-warning" (click)="EmotivLogin()">Tentar
            conexão
            com headset novamente!</button>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="training_start" tabindex="-1" role="dialog"
      aria-labelledby="training_startLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="training_startLabel">Treinamento</h5>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button> -->
          </div>
          <div *ngIf="running_gesture != ''" class="modal-body"
            style="text-align: center">
            Faça o movimento indicado na figura abaixo durante o tempo
            indicado:
            <br/>
              <img src="../assets/images/{{running_gesture}}_hand.png"
                height="300" width="300">
            </div>
            <div *ngIf="running_gesture == ''" class="modal-body"
              style="text-align: center">
              Treinamento finalizado com sucesso!
              <br/>
                <img src="../assets/images/checked.png"
                  height="200" width="200">
              </div>

              <div class="modal-footer">
                <div style="text-align: center; font-size: 20px;">
                  <!-- <div *ngIf="stopwatch.isRunning()">{{ stopwatch.getTime() }}</div> -->
                  <div *ngIf="running_gesture != ''" class="loader"></div>
                </div>
                <button *ngIf="running_gesture == ''" type="button" class="btn
                  btn-secondary" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="users.length == 0">
        <div class="limiter">
          <div class="container-login100">
            <div class="wrap-login100">
              <form class="login100-form validate-form">
                <span class="login100-form-title p-b-26">
                  Welcome to Leo`s TCC
                </span>
                <span class="login100-form-title p-b-48">
                  <i class="zmdi zmdi-font"></i>
                </span>

                <div class="wrap-input100">
                  <input class="input100" type="text"
                    [(ngModel)]="selectedUser.username" placeholder="Email"
                    name="email">
                </div>

                <div class="wrap-input100" data-validate="Enter password">
                  <input class="input100" [(ngModel)]="selectedUser.password"
                    placeholder="Password" type="password" name="pass">
                </div>

                <div class="wrap-input100">
                  <input class="input100" type="text"
                    [(ngModel)]="selectedUser.client_id" placeholder="Client ID"
                    name="id">
                </div>

                <div class="wrap-input100">
                  <input class="input100" type="text"
                    [(ngModel)]="selectedUser.client_secret"
                    placeholder="Secret"
                    name="secret">
                </div>

                <div class="container-login100-form-btn">
                  <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn" (click)="EmotivLogin()">
                      Login
                    </button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
        <div id="dropDownSelect1"></div>
      </ng-container>

      <router-outlet></router-outlet>
